<nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 mb-4 md:mb-0 block w-full md:inline md:w-auto">Showing <span class="font-semibold text-gray-900">{{pageData.current_page}}</span> of <span class="font-semibold text-gray-900">{{pageData.total_pages}}</span></span>
    <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
            <button href="" (click)="changePage(pageData.current_page - 1); false" [disabled]="pageData.current_page === 1" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700">Previous</button>
        </li>
        <li>
            <a href="" (click)="false;" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{pageData.current_page}}</a>
        </li>
        <li>
    <button href="" (click)="changePage(pageData.current_page + 1); false" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700" [disabled]="pageData.current_page === pageData.total_pages">Next</button>
        </li>
    </ul>
</nav>